body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: white;
    text-align: center;
}

.contenedor {
    margin-top: 150px;
}

.boton {
    background: #ff4dde;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}

/* Fondos */
.estrellas {
    background: black;
    overflow: hidden;
}

.corazones {
    background: #1a001f;
}

.nubes {
    background: #0a0a3a;
}

.luces {
    background: #000018;
}

.saturno {
    background: black;
}

.galaxia {
    background: url('galaxia.jpg');
    background-size: cover;
}

